.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
img {
  object-fit: contain;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}
.creatorinfo {
  display: flex;
  gap: 5px;
}
.creatorinfo img {
  border-radius: 30px;
}
.likes {
  display: flex;
  align-items: center;
  padding-left: 5px;
  gap: 2px;
}
